#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's word. Organized , always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p I'm baby etsy brunch retro cred beard. Kinfolk la croix vegan bitters raw denim try-hard pitchfork. Messenger bag vinyl la croix, crucifix cray heirloom swag. Coloring book drinking vinegar cloud bread cronut selfies.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path

